/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  --bg: #0f172a;
  --sidebar: #020617;
  --card: #020617;
  --text: #e5e7eb;
  --muted: #94a3b8;
  --accent: #38bdf8;
}

/* BODY */
body {
  font-family: "Segoe UI", sans-serif;
  background: var(--bg);
  color: var(--text);
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  width: 260px;
  height: 100vh;
  background: var(--sidebar);
  padding: 35px 25px;
  text-align: center;
}

.sidebar img {
  width: 145px;
  height: 145px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid var(--accent);
  margin-bottom: 15px;
}

.sidebar h2 {
  font-size: 20px;
}

.role {
  font-size: 14px;
  color: var(--muted);
  margin-bottom: 20px;
}

/* SOCIAL ICONS */
.socials {
  margin-bottom: 25px;
}

.socials a {
  color: var(--text);
  font-size: 20px;
  margin: 0 8px;
  transition: color 0.3s;
}

.socials a:hover {
  color: var(--accent);
}

/* MENU */
nav a {
  display: block;
  color: var(--text);
  text-decoration: none;
  margin: 14px 0;
  font-size: 15px;
  transition: all 0.3s;
}

nav a:hover {
  color: var(--accent);
  transform: translateX(5px);
}

/* CONTENT */
.content {
  margin-left: 300px;
  padding: 60px;
  animation: fadeIn 1s ease-in;
}

section {
  margin-bottom: 70px;
}

h1 {
  font-size: 28px;
  color: var(--accent);
  margin-bottom: 15px;
}

p, li {
  font-size: 16px;
  line-height: 1.7;
  color: var(--text);
}

ul {
  padding-left: 20px;
}

/* ANIMATION */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
